@using Microsoft.AspNetCore.Identity
@using AppAnalysis.Data
@inject SignInManager<User> _signInManager
@{
    var isSignedIn = _signInManager.IsSignedIn(User);
}
@inject ApplicationDbContext _db
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AppAnalysis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AppAnalysis.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">AppAnalysis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">На главную</a>
                    </li>
                    @if (isSignedIn)
                    {
                        if (!_db.Users.Any())
                        {
                            await _signInManager.SignOutAsync();
                            return;
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Apps" asp-action="Index">Список приложений</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Apps" asp-action="Add">Добавить приложение</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Apps" asp-action="AddEvent">Добавить событие(для теста)</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (isSignedIn)
                    {
                        if (!_db.Users.Any())
                        {
                            await _signInManager.SignOutAsync();
                            return;
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Apps" asp-action="Index">Привет, @User.Identity?.Name!</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <input type="submit" value="Выход"/>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Авторизация</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>